.search__form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.displayed__data{
    /* display: flex;
    justify-content: space-evenly;
    min-height: 78vh; */
}
.main__view{
  

}