.search__form{
    display: flex;
    flex-direction: row;
    justify-content: center;
}

.displayed__data{

    min-height: 70vh; 
}
.loading__rotate{
    display: flex;
    justify-content: center;
}
